{% extends "layout.html" %}

{% block content %}
<h2>データについて</h2>
<p>
  当サイトの情報は<a href="http://ja.dbpedia.org" target="_blank">DBpedia Japanese</a>から取得した情報に適宜改変、追加を施して提供しています。<br>
  DBpediaとはWikipediaの情報を構造化したものなので出典はWikipediaになります。<br>
  なので、データの間違い等がありましたら直接そちらを編集するか、ご報告頂ければ修正致します。<br>
  データ更新は折を見て行っていますが、DBpediaとWikipediaは連動しているわけではないのでWikipediaの変更がDBpediaに反映されるには時間がかかる場合があります。<br>ご了承ください。
</p>

<h2>選手の所属チームについて</h2>
<p>
  データの目的の一つとして、「先輩後輩関係を明らかにしたい」という思惑があったので選手の所属歴に関しては<br>
  「前身球団や名称がある場合はその最新のもの」に寄るように調整しています。<br>
  例えば、<a href="名古屋電気高等学校">名古屋電気高等学校</a>や<a href="秋田経済法科大学附属高等学校">秋田経済法科大学附属高等学校</a>や<a href="/東映フライヤーズ">東映フライヤーズ</a>や<a href="南海ホークス">南海ホークス</a>といった球団史上の時代で区分するような検索は今のところは出来ません。<br>
  ただ、表示としては所属当時のものが出るようにしたいなあとは考えています。
</p>
<br>
<br>
<p>
  E-mail：<strong>innen.search[at]gmail.com</strong>
</p>
{% endblock %}