{% macro player_list(players) %}
  {% for player in players %}
<div class="col-6 col-md-4 col-lg-2" style="height: 320px; display: none;">
  <h3>{% if player_info[loop.index0].is_active %}<span class="red">☆</span>{% endif %}{{ player_info[loop.index0].cname }}</h3>
  {% if player_info[loop.index0].current_club %}<h6>現:<strong>{{ player_info[loop.index0].current_club }}</strong></h6>{% endif %}
  {% set abst = player_info[loop.index0].abstract or "" %}
  <p>{{ abst|truncate(110) }}</p>
  <p><a href="/{{ player }}" class="btn btn-default">詳細を見る »</a></p>
</div>
  {% endfor %}
{% endmacro %}

<!doctype html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <title>プロ野球因縁サーチ(β){% if target %} | {{ target }}{% endif %}</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/static/css/style.css">
  <style type="text/css">
  body {
    overflow-y: scroll;
  }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<div class="container">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/">Home</a></li>
  </ul>
  <h1 class="text-muted">プロ野球因縁サーチ(β)</h1>
</div>

<div class="jumbotron">
  <p class="lead">選手名・出身地・所属球団などを入力してください。</p>
  <div class="form-inline" role="form">
  <div class="form-group">
    <input id="target" type="text" class="form-control" value="{{ target }}">
    <input type="submit" id="search" value="検索" class="btn btn-default">
  </div>
  </div>
</div>
{% block content %}{% endblock %}
</div>
  <script>
  (function($) {
    $("#search").on('click', function(){
      var name = $("#target").val();
      if(name) {
        window.open('/' + name, '_self');
      }
    });
    $("body").keypress( function( event ) {
      if( event.which === 13 ){
        if($(':focus').attr('id') == "target") {
          $("#search").trigger('click');
        }
      }
    });
    $("#target").focus()
  })(jQuery);
  </script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>