{% extends "layout.html" %}

{% if kind == 1 %}
  {% set kind_name = '所属歴' %}
{% elif kind == 2 %}
  {% set kind_name = '世代' %}
{% elif kind == 3 %}
  {% set kind_name = '出身地' %}
{% elif kind == 4 %}
  {% set kind_name = '前方一致' %}
{% endif %}

{% block content %}
<h2>{{ kind_name }}：<span id="st">{{ target }}</span></h2>
{% if kind == 1 %}
  <p><a href="http://ja.wikipedia.org/wiki/{{ target }}">http://ja.wikipedia/wiki/{{ target }}</a></p>
  {% if target in info %}
    <h5 ><strong>{{ info[target][0] }}</strong></h5>
    <p>{{ info[target][1] }}</p>
  {% endif %}
{% elif kind == 2 %}
  <input type="range" id="year_bar" max="2000" min="1900" value="{{ target }}" style="width: 100%" />
{% endif %}
<label for="active-filter"><input type="checkbox" id="active-filter">現役選手で絞り込み</label>
<div class="row">
  {{ player_list(players) }}
</div>
<script type="text/javascript">
  $('.row div').fadeIn(500);

  $("#active-filter").change(function(){
    $('.row div').hide();
    if($(this).prop('checked')) {
      $('.row div.active').fadeIn(500);
    }else {
      $('.row div').fadeIn(500);
    }
  });

{% if kind == 2 %}
  $('#year_bar').change(function() {
    year = Number($(this).val());
    $('#st').text(year);
  });
  $('#year_bar').click(function() {
    year = Number($(this).val());
    location.href = "/" + year;
  });
{% endif %}
</script>
{% endblock %}