{% extends "layout.html" %}

{% block content %}
<ul class="teams-list">
{% for teamname, num in teams_list %}
  {% if teamname in alias %}
<li>
  <a href="/{{ teamname }}" class="hover-popup">{{ teamname }}({{ num }})
  <p class="popup">
    {% for a in alias[teamname] %}
    {{ a }}<br>
    {% endfor %}
  </p></a>
</li>
  {% else %}
<li style="list-style-type:circle;">
  <a href="/{{ teamname }}" class="hover-popup">{{ teamname }}({{ num }})</a>
</li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}